.billboard {
  background-image:url('http://i328.photobucket.com/albums/l349/chelseasidrane/website_pics/FB%20cover%20photo_zpskpjeop8f.jpg');
  height: 1000px;
}

.billboard h1 {
  color: #000000;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}
