.billboard {
  background-image:url('http://s328.photobucket.com/user/chelseasidrane/media/website_pics/FB%20cover%20photo_zpskpjeop8f.jpg.html');
  height: 500px;
}

.billboard h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
